@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Hind+Siliguri:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;

}
body{
    font-family:'Hind Siliguri', sans-serif;
    
}




/* ------------------------------------------------------------------------logo */

a #logo{
    color: #3B3B2F;
    float: left;
}

h2 {
    float: left;
    display: block;
    font-family: 'Quicksand', sans-serif;
    line-height: 4rem;
    padding-left: 40px;
    font-weight: 400;
    font-size: 180%;
}


/* ------------------------------------------------------------------------navbar */



header {
    width:100vw;
    height: 4rem;
    background-color: rgba(136, 132, 82, 0.5);
    position:static;
    top: 0;
    left: 0;    
    
}

#menu {
    list-style-type: none;
    font-size: 120%;
    letter-spacing: 4px;
    list-style-type: none;
    line-height: 4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    float: right;
    margin: 0;
}

/* The hover effect is borrowed from  [http://ianlunn.github.io/Hover/]*/

#menu li{
    
    padding-right: 35px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    padding-bottom: 10px;
    text-transform: uppercase;

}

#menu li:hover, #menu li:focus, #menu li:active{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}

#menu li a{
    color:#3B3B2F;
    text-decoration: none;
    text-align: center;
    
}

#hamnav label, #hamburger { display: none; }



/* Hemburger-menu is inspired from [https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/] but customized with my own style*/


  
/* ------------------------------------------------------------------------1st row */

.welcome-txt{
   text-align: center;
   font-weight: 300;
   padding-left: 20px;
   font-weight: 300;
   font-size: 1.1vw;
   text-align: justify;
   line-height: 1.8;
}



h3{
    padding-bottom: 30px;
    font-size: 2vw;
    text-align: center;
    margin-top: 3%;
    font-weight: 400;
    letter-spacing: 2px;
 }






.row{
    margin-top: 40px;
  
}




.landing-pg-img {
    padding-right: 20px;
}

/* ------------------------------------------------------------------------2nd row */

.items-pic{
    padding-left: 20px;
}


.about-products{
text-align: center;
font-weight: 300;
padding-right: 20px;
font-weight: 300;
font-size: 1.1vw;
text-align: justify;
line-height: 1.8;

}




#contact-us{
    clear: both;
}
/* ------------------------------------------------------------------------@media Ipad*/


@media screen and (max-width: 991px){

    .about-products, .welcome-txt {
        padding: 0;
        
    }
 
     .welcome-txt > p, .about-products >p {
         font-size: 2.6vw;
         padding: 0 40px;
     }
 
     .welcome-txt > h3, .about-products > h3{
         font-size: 4.1vw;
         padding: 20px;
         
     }
 

 
     .landing-pg-img, .items-pic {
         padding:0 20px;
     }

   
   .row {
       margin: 40px 0px;
       padding: 0;
   }

   .container-fluid {
       padding: 0;
       margin: 0;
   }
 
   }

@media screen and (max-width: 890px){

    #hamnav label { 
      display: block; 
      color: white;
      background: #3B3B2F;
      font-style: normal;
      font-size: 1.2em;
      padding: 8px;
      float: right;
      height: 4rem;
      width: 3rem;
      text-align: center;
      
    }

    #hamnav {
        position: relative;
    }
  
    #menu {
      box-sizing: border-box;
      display: block;
      width: 100%;
      position: absolute;
      top: 4rem;
      right: 0;
      background-color: #3B3B2F;
      z-index: 2;
    }

    #menu li a{
        color: #D5D5C6;
        text-align: center;
    }

    #menu li {
       clear: both;
       text-align: center;
       display: block;
       border-bottom: #D5D5C6 1px solid;
       width: 100%;
       height: 100%;
       -webkit-transform: perspective(1px) translateZ(0);
       transform: perspective(1px) translateZ(0);
       box-shadow: 0 0 1px rgba(0, 0, 0, 0);
       -webkit-transition-duration: 0.3s;
       transition-duration: 0.3s;
       -webkit-transition-property: transform;
       transition-property: transform;
    }

    #menu li:hover, #menu li:focus, #menu li:active{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }

    
  
    #menu { display: none; }
    #hamnav input:checked ~ #menu { display: block; }
    }

   

  /* ------------------------------------------------------------------------@media Mobile*/

  @media screen and (max-width: 576px){

 
    div .welcome-txt, div .about-products{
        padding: 0;
    }


    .welcome-txt >p, .about-products >p {
        padding: 0 30px;
        font-size: 5vw;
    }

    .welcome-txt > h3, .about-products > h3 {
        padding: 30px;
        font-size: 6.1vw;
    }

    #logo{
        font-size: 150%;
    }

    .landing-pg-img, .items-pic {
        padding: 15px;
    }

  }
