@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Lato:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    min-width: fit-content;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 3.5em;
    right: 0;
    z-index: 99;
    font-size: 1em;
    border: none;
    outline: none;
    background-color: rgba(71, 71, 59, 0.6);
    color: white;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 40%;
}

#myBtn:hover {
    background-color: #505045;
}

/* ----------------------------------------------------------------------------------------colors */



/* -------------------------------------------------------------------------------------logo & Navbar */

.navbar-brand h2 {
    float: left;
    display: block;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: calc(1.5rem + 0.3vw);
    letter-spacing: 3px;
    color: #1a1a16;
    text-transform: uppercase;
    margin-bottom: 0;
}


/* Box-shadow effect is borrowed from (https://css-tricks.com/almanac/properties/b/box-shadow/) */

.navbar {
    background-color: #D0CEB5;
    box-shadow: 0px 1px 6px rgba(37, 37, 33, 0.5);
}

.navbar-nav {
    list-style-type: none;
    font-size: calc(1rem + 0.2vmin);
    letter-spacing: 3px;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #1a1a16;
}


/* The hover effect is borrowed from  [http://ianlunn.github.io/Hover/]*/

.navbar-nav li {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: transform;
    transition-property: transform;
    text-transform: uppercase;
}

.navbar-nav li:not(:last-child) {
    padding-right: 2rem;
}

.menu-link {
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.4s;
    transition-duration: .4s;
    -webkit-transition-property: transform;
    transition-property: transform;
    padding-left: 3px;
    border-bottom: 1px solid #1a1a16;
}

.navbar-nav li:hover,
.navbar-nav li:active,
.menu-link:hover,
.menu-link:active,
.menu-link:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

button:focus,
button:hover,
button:checked,
button :visited {
    outline: none;
    border: none;
}

.active--nav {
    font-size: calc(1.2rem + 0.2vmin);
    color: #262625;
    font-weight: bold;
}

.fas .fa-bars{
    color: #000 !important;
}

button > i.fas .fa-bars{
    color: #000 !important;

}

button.navbar-toggler{
    color: #000 !important;

}

.submit-btn{
    background-color: green;
    color: #fff;
}

.submit-btn:hover{
    background-color:rgba(0, 128, 0, .9);
    color: #fff;
}

.next-button{
    background-color: #1c3a4e;
    color: #ebe9d1;
}

.next-button:hover{
    background-color: rgba(28, 58, 78, .9);
    color: #ebe9d1;
}


.form-page {
    display: none;
}

.form-page.active {
    display: block;
}

/* -------------------------------------------------------------------------- containers & Rows & cols */

.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    margin-top: 5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    position: relative;
}

#menu-item .row{
    margin-top: .1rem !important;
}

.col-lg-5,
.col-lg-6,
.col-lg-4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    position: static;
}

.mapouter {
    height: 20rem;
    width: 100%;
}

#gmap_canvas {
    height: 100%;
    width: 100%;
}

hr {
    width: 70%;
}


/* ------------------------------------------------------------------------txt & headings & links */

a {
    color: #1a1a16;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: #1a1a16;
}


a.takeaway-links{
    color: teal;
    border-bottom: 1px dotted teal;
}

p {
    font-weight: 300;
    font-weight: 300;
    font-size: calc(1rem + 0.1vmin);
    text-align: justify;
    line-height: 1.8;
    margin: 0;
}

h3 {
    font-size: calc(1.2rem + 0.5vw);
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    color: #1a1a16;
}

h4 {
    font-size: calc(1.5rem + 0.7vmin);
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #1a1a16;
    font-family: 'Lato', sans-serif;
}

h5 {
    font-size: calc(1rem + 0.7vmin);
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #1a1a16;
    font-family: 'Lato', sans-serif;
}

#contact-links {
    font-size: calc(.9rem + 0.4vw);
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 0;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
}

.h3-py-top {
    padding-top: 1.75rem;
}

.py-bottom {
    padding-bottom: 1.75rem;
}


.fa-seedling{
    color: rgb(101, 218, 101);
    font-size: 1.2rem;
}

/* ------------------------------------------------------------------------gallery*/

#gallery img {
    position: relative;
}

button.close {
    position: absolute;
    z-index: 20;
    right: 2rem;
    top: 2rem;
    color: white;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgb(7, 7, 7);
}

button.close.close-alert{
    background-color: transparent;
}

button.close:hover {
    background-color: white;
    color: rgb(7, 7, 7);
}

img.w-100:hover {
    opacity: 0.60;
}

.carousel-item>img:hover {
    opacity: 1;
}

/* styles.css */
/* .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
}

.grid-item {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
} */


/* ------------------------------------------------------------------------Animation */


/* The animation is borrowed from (https://animista.net/play/basic/scale-up/scale-up-center)  */

.landing-pg-img,
.items-pic {
    -webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


/* The animation effect is borrowed from (https://animate.style/) */

.animate__animated {
    animation-duration: 3s;
}


/* ----------------------------------------------
 * Generated by Animista on 2021-5-14 14:54:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/* ------------------------------------------------------------------------opening hours row*/

.opening-hours {
    background-color: #D0CEB5;
    box-shadow: 0 1px 6px rgba(37, 37, 33, 0.5);
}

.ul-hours .list-group-item {
    background-color: #D0CEB5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}


/* --------------------------------------------------------------------------------table*/

/* .thead-bg {
    background-color: #365d76;
} */

.table tr:first-child th[scope=row], .table tr:first-child td{
    border-top: none !important;
}

.table th[scope=col] {
    border-top: none;
}

.table td {
    width: 10%;
    justify-content: center;
    margin-right: 0;
}

.table td p{
    font-weight: bold;
}

.table-sm td {
    padding: 0.3rem 0.8rem 0.3rem 0;
}

.table-sm th {
    padding: .5rem .3rem .5rem .8rem;
}

.table-sm th>i {
    padding: .3rem .5rem .3rem 0;
    color: #365d76 !important;
}

.table td>p {
    text-align: right;
    color: #1c3a4e;
}

.table th,
.table td {
    border-top: 1px dotted #a1ac97;
}

th[scope=col]~th[scope=col] {
    width: 10%;
}

th[scope=col]~th[scope=col] > small{
    /* color: #ebe9d1; */
    color: #1c3a4e;
}

th>p {
    text-transform: capitalize;
    font-weight: 500;
}

th[scope=col]>p {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #ebe9d1 !important;
    letter-spacing: .2em;
}

th[scope=col]>p>small {
    font-size: calc(0.6rem + 0.3vmax);
    text-transform: capitalize;
    text-align: left;
}



.table {
    margin-bottom: 0;
    /* background-color:#eaf4e7; */
    /* min-height:46.5rem ; */
    /* box-shadow: 0px 1px 6px #e2f2eb; */
}


.table thead th {
    border-bottom: 0 dotted #a1ac97;
    vertical-align: middle;

}

table small{
    font-style: italic;
}


#menu-items div> table > tbody > tr > th > p{
    color: #1c3a4e;
}

.header-link{
    background-color: #365d76;
    width: 100%;
    height: 100%;
}

.header-link > p{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #fffef3 !important;
    letter-spacing: .2em;
}


/* ---------------------------------------------------------------------------footer*/

footer {
    background-color: #D0CEB5;
    margin-top: 4rem;
    text-align: center;
    padding: 1rem 0;

}
/* ----------------------------------------------------------------------new cards */

.letter-spacing{
    letter-spacing: .1rem;
}


.background-container {
    position: relative;
    overflow: hidden;
}

#background-image {
    background-image: url(../assets/images/IMG_6332.png);
    background-size: cover;
    background-position: top center;
    height: 28rem; /* Set the desired height */
    position: relative;
}


#background-image-amstel {
    background-image: url(./images/amstel-outside.jpg);
    background-size: cover;
    background-position: top right;
    height: 28rem; /* Set the desired height */
    position: relative;

}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px; /* Add padding to give space for your text */
    background: linear-gradient(to bottom, rgba(208, 206, 181, 1) 0%, rgba(208, 206, 181, .9) 100%);

    /* Adjust the gradient values to control the darkness and fade */
}

.text-overlay p {
    color: #000; /* Set the color for your light text */
    font-size: 20px; /* Set the desired text size */

}


#hoofdorp-div, #amstel-div{
    cursor: pointer;
}


.footer.footer-index{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}


/* ------------------------------------------------------------------------@media query medium*/

@media screen and (max-width: 991px) {
    p {
        font-size: calc(1rem + 0.7vmin);
    }
    h3 {
        font-size: calc(1.2rem + 1.2vmin);
        margin-bottom: 3rem;
        margin-top: 0;
        padding: 0;
    }
    #myBtn {
        bottom: 3.5rem;
        right: 0;
        font-size: 1rem;
        padding: .5rem;
    }
    .h3-py-top {
        padding-top: 0;
    }
    .py-bottom {
        padding-bottom: 0;
        margin-bottom: 3rem;
        padding-top: 1rem;
    }
    .list-group-item {
        padding: 0.5rem 0;
    }
    .navbar-nav li:not(:last-child) {
        border-bottom: 1.5px solid black;
    }
    .navbar-nav li {
        padding: 0.7rem;
        width: 95%;
        margin: 1px;
    }
    .active--nav {
        border-bottom: none;
    }
    .navbar-nav li:not(:last-child) {
        padding-right: 0.7rem;
    }
    .navbar-toggler {
        padding: .25rem 0;
    }
    .row {
        margin: 0;
    }
    #opening-hours-row {
        margin: 3rem 0 0 0;
    }
    .col-12 {
        margin-top: 3rem;
        margin-bottom: 0;
    }

    .coffee-col, .warm-drink-col, .smoothies-col, .acai-col, .sweets-col, .toasties-col , .cold-drinks-col, .sandwiches-col{
        margin-top: .3rem !important;
        margin-bottom: .3rem !important;

    }

    .footer {
        margin-top: 3rem;
    }


    .contact-info {
        text-align: center;
    }
    #photo {
        column-count: 2;
    }

    hr {
        width: 100%;
    }


    #background-image-amstel, #background-image {
        height: 25rem; /* Set the desired height */
        background-position: center;
    }

    .text-overlay {
        padding: 0; /* Add padding to give space for your text */

        /* Adjust the gradient values to control the darkness and fade */
    }

    .text-overlay p {
        font-size: 16px; /* Set the desired text size */
    }


    .container-fluid-cards,
    .container-fluid-cards .row,
    .container-fluid-cards #hoofdorp-div,
    .container-fluid-cards #amstel-div {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

}


/* ------------------------------------------------------------------------@media query small*/

@media screen and (max-width: 576px) {
    h3 {
        font-weight: 500;
    }

    .navbar-brand h2 {
        font-size: calc(1.1rem + 1vmin);
    }

    .navbar-nav li:first-child {
        padding-top: 2rem;
    }

    .container-fluid {
        padding: 0;
        margin: 0;
    }

    p {
        font-size: 1rem;
    }

    #photo {
        column-count: 1;
    }

    .navbar-toggler {
        position: absolute;
        right: 1.5rem;
        top: .3125rem;
    }
    .location-name{
        font-size: 1.5rem;
    }



    #background-image-amstel, #background-image {
        height: 15rem; /* Set the desired height */
      }

    .text-overlay {
        padding: 0; /* Add padding to give space for your text */

        /* Adjust the gradient values to control the darkness and fade */
      }

      .text-overlay p {
        font-size: 16px; /* Set the desired text size */

      }


    .container-fluid-cards,
    .container-fluid-cards .row,
    .container-fluid-cards #hoofdorp-div,
    .container-fluid-cards #amstel-div {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .footer.footer-index{
        position:unset;
    }


}
